@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  min-height: 46rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cup {
  height: 110px;
  width: 150px;
  border: 4px solid white;
  position: absolute;
  top: 40%;
  left: 45%;
  border-radius: 0px 0px 70px 70px;
  background: url("/images/coffee.png");
  box-shadow: 0px 0px 0px 6px #a5b4fc;
  background-repeat: repeat-x;
  background-position: 0px 140px;
  animation: fill 2.5s infinite;
}
@keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}
.handle {
  height: 55px;
  width: 35px;
  background-color: transparent;
  border: 6px solid #a5b4fc;
  position: relative;
  left: 145px;
  bottom: 6px;
  border-radius: 0px 25px 80px 0px;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .item:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white transition-all ease-in-out duration-200;
  }
}
